h3 Example form

form(action="/show_form" method="POST")
  fieldset
    legend Testing form

    p
      label Text
      input#text_field(type="text" name="text_value")

    p
      label Number
      input#number_field(type="number" name="number_value")

    p
      label Default Value
      input(type="text" name="default_value" value="Hello bober!")

    p
      input(type="submit")


.example-link
  a(href="/some_page") Wanderland

#element_to_find(data-something="123456" style="border: 1px solid #ccc" onclick="alert('clicked!!!')") Element to find