doctype html
html
  head
    title Bober Demo
    scss:
      html, body {
        margin: 0;
        padding: 0;
        background: #c8e2d7;
        font-family: -apple-system, BlinkMacSystemFont, sans-serif;
        font-size: 14px;
      }
      .wrapper {
        padding: 1em;
        background: #fff;
        box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.3);
        margin: 10px auto;
        max-width: 800px;
        border-radius: 10px;
      }

  body
    .wrapper
      == yield