javascript:
  function submitForm() {
    document.forms[0].submit();
  }

body(onload="submitForm()")

  form(action="/redir_page3" method="POST" style="display: none")
    input(type="hidden" name="test_value" value="Test Value")
    input(type="submit")
