form(action="/redir_page2" method="POST")
  fieldset
    legend Testing form

    p
      label Text
      input#text_field(type="text" name="text_value")

    p
      label Number
      input#number_field(type="number" name="number_value")

    p
      label Default Value
      input(type="text" name="default_value" value="Hello bober!")

    p
      input(type="submit")